<div class="Area">
	<p class="Area-name">[modal]</p>
	<p>Modal dialog follows here:</p>
	{{#modal-dialog action="close"}}
		<p>title: {{unbound title}}</p>
		<button {{action "close"}}>&times;</button>
	{{/modal-dialog}}
</div>
